#road-map > .container {
    position: relative;
}

.timeline {
    list-style: none;
}

.timeline > li {
    float: left;
    width: 25%;
    margin-top: 22.5%;
    border-top: 2px solid #03d7ab;
    padding-bottom: 22.5%;
    position: relative;
}

.rtl .timeline > li {
    float: right;
}

.timeline::after {
    content: "";
    clear: both;
    display: table;
}

.timeline > li > .step-no {
    display: block;
    width: 2em;
    height: 2em;
    margin: -1.1em auto 0;
    background-color: #03d7ab;
    border-radius: 1em;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0.3em;
    z-index: 1;
}

.timeline > li > .step-no::after {
    content: "";
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 4px;
    background-color: #03d7ab;
    margin: 6em auto 0;
}

.timeline > li > .timeline-image::before {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: 6em;
    margin: 0 auto;
    display: block;
    border: 1px solid #03d7ab;
}


.timeline > li > .timeline-image > img {
    width: 40%;
    margin-top:1em;
    margin-left: -20%;
    position: relative;
    right: 50%
}

.rtl .timeline > li > .timeline-image > img {
    margin-left: auto;
    margin-right: -20%;
    left: 50%;
}

.timeline > li > .timeline-text {
    position: absolute;
    top: 1.5em;
    text-align: center;
}

.timeline > li:nth-child(odd) {
    padding-bottom: 0;
}

.timeline > li:nth-child(even) > .step-no::after,
.timeline > li:nth-child(even) > .timeline-image::before {
    margin-top: -8em;
}

.timeline > li:nth-child(even) > .timeline-image > img {
    margin-top: -40%;
    position: relative;
    top: -7em;
}

.timeline > li:nth-child(odd) > .timeline-text {
    position: absolute;
    top: -1.5em;
    transform: translateY(-100%);
}

.timeline > li:nth-child(odd) > .timeline-text::after {
    content: "";
    display: block;
    height: 100%
}

@media only screen and (max-width: 768px) {
    .timeline > li, .rtl .timeline > li {
        float: none;
        width: 100%;
    }

    .timeline > li > .step-no {
        float: left;
        margin: 4em 1em 0;
        position: relative;
        z-index: 1;
    }

    .rtl .timeline > li > .step-no {
        float: right;
    }

    .timeline > li {
        border: none;
        margin: 0;
        padding: 0;
    }

    .timeline > li, .rtl .timeline > li {
        height: 10em;
    }

    .timeline > li > .timeline-image::before {
        display: none;
    }

    .timeline > li > .timeline-image > img {
        width: auto;
        margin: 1em 2em 0 1em !important;
        position: static !important;
        height: 7em;
        float: right;
    }

    .rtl .timeline > li > .timeline-image > img {
        margin-right: 2em;
        margin-left: 1em;
        float: right
    }

    .timeline > li > .timeline-image {
        float: left;
        height: 10em;
        border-left: 2px solid #03d7ab;
        margin-left: -2em;
    }

    .rtl .timeline > li > .timeline-image {
        float: right;
        margin-left: 0;
        margin-right: -2em;
        border-left: none;
        border-right: 2px solid #03d7ab;
    }

    .timeline > li > .timeline-text {
        position: static !important;
        transform: none !important;
        text-align: left;
        padding-top: 4em;
    }

    .rtl .timeline > li > .timeline-text {
        text-align: right;
    }

    .timeline > li > .step-no::after,
    .timeline > li > .timeline-image::before {
        margin-top: 0;
    }

    .timeline > li > .step-no::after, .timeline > li > .timeline-image::before {
        display: none !important;
    }
}